image: alpine:latest

stages:
  - deploy

pages:
  stage: deploy
  script:
    - mkdir -p public
    - cp -r *.html *.css *.js public/  # Copy all web files
    - echo "Pages deployed to $CI_PAGES_URL"
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH